@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (this.User.IsInRole("Owner"))
{
    <p>
        <a class="btn btn-primary" asp-action="New">New Customer</a>
    </p>
}

<table id="customers" class="table table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Discount Rate</th>
            @if (this.User.IsInRole("Owner"))
            {
                <th>Delete</th>
            }
            </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts
{
    @if (this.User.IsInRole("Owner"))
    {
        <script>
            var canDelete = true;
        </script>
    }
    else
    {
        <script>
            var canDelete = false;
        </script>
    }
    <script>
        $(document).ready(function () {
            var columnsDef = [
                {
                    data: "name",
                    render: function (data, type, customer) {
                        return "<a href='customers/details/" + customer.id + "'>" + customer.name + "</a>";
                    }
                },
                {
                    data: "membershipType.discountRate"
                }
            ];

            if (canDelete) {
                columnsDef.push({
                    data: "id",
                    render: function (data) {
                        return "<button class='btn btn-secondary js-delete' data-customer-id=" + data + ">Delete</button>";
                    }
                });
            }

            $("#customers").DataTable({
                ajax: {
                    url: "api/customers/",
                    dataSrc: ""
                },
                columns: columnsDef
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable();

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    message: "Confirm customer deletion?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        })
    </script>
}